body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}  
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{ 
    color:black;
}
.orange-heighlit{
    color: orange;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width: 80%;
}
.top-banner{
    border: 1px, solid red;
    background-image: url(images/banner.jpg);
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
   background-color: red;
    padding: 10px 20px;
    border-radius:5px ;
    color: rgb(246, 244, 241);
    font-weight:700 ;
}

.dream-area{
    background-image: url("images/banner2.jpg");
    background-repeat: no-repeat;
    background-position:right ;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius: 5px;
    height: 70%;
    background-color: white;
}
.experience-area{
 background-image: url("images/banner3.png");
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#react-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, blue ,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.body-color{
    background-color:lightblue;
    display:flex;
    justify-content:center;
    align-items:center; 
}


.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin:15%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_slide{
    position:relative;
    background:#003247;
    padding:40px;

}
.container .right_slide{
    position:relative;
    background:#fff;
    padding:40px;
    
}
